<html lang="{{i18n.lang}}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Icons CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"
    />
    <!-- FA Icons-->
    <script
      src="https://kit.fontawesome.com/839e8b1ba6.js"
      crossorigin="anonymous"
    ></script>
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Chakra Petch"
      rel="stylesheet"
    />
    <!-- Custom CSS-->
    <link rel="stylesheet" href="style/style.css" />
    {{#block "customCSS"}}{{/block}}
    <!-- Page Title-->
    <title>{{#block "pageTitle"}}{{/block}}</title>
  </head>
  <!-- Body -->
  <body class="text-center pt-4">
    <!-- Navbar Body -->
    <nav
      class="navbar navbar-expand-md navbar-light fixed-top bg-light user-select-none"
    >
      <div class="container-fluid">
        <!-- Brand Name -->
        <a class="navbar-brand" href="#">JPA Template</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsable menu -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <!-- Home -->
            <li class="nav-item">
              <a
                class="nav-link {{nav.home}}"
                aria-current="page"
                href="{{links.home}}"
              >{{i18n.home}}</a>
            </li>
            {{#if loggedIn}}
            <!-- Showed when user has logged in -->
              <li class="dropdown nav-item">
                <a
                  href="#"
                  class="align-items-center link-dark text-decoration-none dropdown-toggle"
                  id="dropdownUser3"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    src="https://github.com/tomasanchez.png"
                    alt="{{user.uname}}"
                    width="45"
                    height="45"
                    class="rounded-circle"
                    onerror="this.src='https://avatars.githubusercontent.com/u/4492795?s=200&v=4'"
                  />
                </a>
                <ul
                  class="dropdown-menu text-small shadow justify-content-center"
                  aria-labelledby="dropdownUser3"
                >
                  <li><a
                      class="btn dropdown-item disabled"
                      href="#"
                    >{{i18n.settings}}</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <form
                      method="POST"
                      action="{{links.login}}"
                      class="mt-0 mb-0"
                    >
                      <button
                        type="submit"
                        name="uid"
                        value="false"
                        class="dropdown-item"
                      >
                        {{i18n.logOut}}
                      </button>
                    </form>
                  </li>
                </ul>
              </li>
            {{else}}
            <!-- Showed when user has not logged in -->
              <li class="nav-item">
                <a class="nav-link {{nav.login}}" href="{{links.login}}">{{i18n.logIn}}</a>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>

    {{#block "content"}}{{/block}}

    <!-- Flexbox container for aligning the toasts -->
    <div
      aria-live="polite"
      aria-atomic="true"
      class="d-flex justify-content-center align-items-center w-100"
    >
      <!-- Then put toasts within -->
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">JPA Template</strong>
          <small>{{i18n.justNow}}</small>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body {{toastStatus}} text-white">
          {{toastMessage}}
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer
      class="mt-auto font-small mdb-color lighten-3 pt-4"
      style="margin-bottom: 1em"
    >
      <!-- Footer Links -->
      <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <!-- Content -->
            <h5
              class="font-weight-bold text-uppercase mb-4"
              style="
                border-top-style: solid;
                margin-top: 7.5px;
                border-top-width: 0px;
              "
            >
              About this page
            </h5>
            <p>
              This is a Spark micro framework seed template which will help you to deliver fast web applications.
            </p>
          </div>

          <hr class="clearfix w-100 d-md-none" />

        <!-- Grid row -->
      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 muted-text">
        <a class="text-muted" href="https://tomasanchez.github.io" style="text-decoration: none" target="_blank">Copyright © 2021 Tomás
          Agustín Sánchez</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="./script/App.js">
    </script>
    <script type="text/javascript">
      onInit();
      showToasts({{showToast}});
    </script>
    {{#block "customJS"}}{{/block}}
  </body>

</html>