
{{#partial "pageTitle"}}
  {{i18n.loginPageTitle}}
{{/partial}}

{{#partial "content"}}
  <div class="form-signin bg-light container mt-5">
    <form method="POST" action="{{links.login}}">
      <img
        class="mb-4"
        src="https://sparkjava.com/img/logo.svg"
        alt="Spark"
        width="72"
      />
      <h1 class="h3 mb-3 fw-normal">{{i18n.signInForm}}</h1>
      <div class="form-floating">
        <input
          name="user"
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          value="{{username}}"
          required="true"
        />
        <label for="floatingInput">{{i18n.username}}</label>
      </div>
      <div class="form-floating">
        <input
          name="password"
          type="password"
          class="form-control {{isValid}}"
          id="floatingPassword"
          placeholder="Password"
          required="true"
        />
        <label for="floatingPassword">{{i18n.password}}</label>
        <div id="passWordValidation" class="invalid-feedback">{{i18n.wrongPassword}}</div>
      </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" /> {{i18n.rememberMe}}
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-success" type="submit">{{i18n.signIn}}</button>
        <a class="w-100 btn btn-lg btn-light" href="/signup"> {{i18n.signUp}}</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
  </div>
{{/partial}}

{{> layouts/Bootstrap-Navbar.html.hbs }}