
{{#partial "pageTitle"}}
  {{i18n.registerPageTitle}}
{{/partial}}

{{#partial "content"}}
  <div class="container mt-5 align-items-center mx-auto">
    <div class="col-xl-5 col-md-8 col-xs-10 mx-auto">
      <div class="row justify-content-center">
        <form class="p-5" method="POST" action="{{links.register}}">
          <!-- Form Image -->
          <div class="container-fluid text-center">
            <a href="{{links.home}}">
              <img
                class="mb-4"
                src="https://sparkjava.com/img/logo.svg"
                alt="Spark"
                width="72"
              /> 
            </a>
            <!-- Sign In Header -->
            <h1 class="h3 mb-3 fw-normal">{{i18n.signUpForm}}</h1>
          </div>

          <!-- Username Field -->
          <div class="form-outline mt-2 mb-4">
            <input
              name="username"
              type="text"
              class="form-control form-control-lg {{isValidUser}}"
              id="userNameInput"
              placeholder="name@example.com"
              value="{{username}}"
              required="true"
            />
            <label class="form-label" for="userNameInput">{{i18n.username}}*</label>
            <div id="passWordValidation" class="invalid-feedback">{{i18n.userAlreadyExists}}</div>
          </div>

          <!-- Password Input -->
          <div class="form-outline mt-2 mb-4">
            <input
              name="password"
              type="password"
              class="form-control form-control-lg {{isValidPassword}}"
              id="passwordInput"
              placeholder="Password"
              required="true"
            />
            <label class="form-label" for="passwordInput">{{i18n.password}}*</label>
            <div id="passWordValidation" class="invalid-feedback">{{i18n.wrongPassword}}</div>
          </div>

          <!-- Password Input -->
          <div class="form-outline mt-2 mb-2">
            <input
              name="confirmPassword"
              type="password"
              class="form-control form-control-lg {{isValidPassword}}"
              id="confirmPassword"
              placeholder="Password"
              required="true"
            />
            <label class="form-label" for="confirmPassword">{{i18n.confirmPassword}}*</label>
            <div id="passWordValidation" class="invalid-feedback">{{i18n.wrongPassword}}</div>
          </div>

          <div class="form-check mt-3 mb-3">
            <input class="form-check-input" type="checkbox" value="" id="agreeCheck"/> 
            <label class="form-check-label" for="agreeCheck">{{i18n.agreeCheck}}</label>
          </div>

          <!-- Submit Button - Log In -->
          <button class="btn btn-primary btn-block mb-4" type="submit">{{i18n.signUp}}</button>

          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col-4 d-flex text-center justify-content-center">
            </div>

            <div class="col-8 text-center justify-content-centerr">
              <!-- Simple link -->
              <a href="{{links.login}}" >{{i18n.accountSignIn}}</a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
{{/partial}}

{{#partial "customJS"}}
  <script type="text/javascript" src="./script/LogIn.js"></script>
{{/partial}}

{{> layouts/MDB.html.hbs }}